<div class="container">
  <div class="row">
    <div class="col text-center">
      <img
        class="img-thumbnail rounded-circle"
        width="300"
        src="img/tes.jpg"
        alt=""
      />
      <h1 class="display-4">Edward</h1>
      <p class="lead">Fullstack Web Devloper</p>
    </div>
  </div>
</div>
